<template name="_footer">
 <footer class="page-footer pink lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Help Kabakery Grow</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support this online bakery tremendously.</p>
          <p>Maybe a paypal button right here..</p>

          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Join the Sweet Discussion</h5>
            <p class="grey-text text-lighten-4">We have a Facebook chat room set up where you can talk directly with us. Come in, and talk about recipes you might want to see in the future!</p>
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href=""><i class="mdi-communication-message"></i> Chat Now</a>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
          <p>Add facebook, and twitter...</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014-2015 IV Bake, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="https://twitter.com/JaulzLee">@Jaulz</a>
        </div>
      </div>
    </footer>
</template>
