.loading {
  padding-top: 100px;
}

nav {

}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

.parallax {
    background:#ec407a;
}

.parallax-containers {
    background:#c7275d;
    height: 40px;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.brand-logo {
     font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Raleway', sans-serif;
    
}